body {
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0.5rem 0.5rem;
    border: 2px solid #bce;
}

a {
    text-decoration: none;
    color: #00f;
}

a:hover {
    text-decoration: underline;
    color: #33f;
}

#career_name {
    max-width: 80vw;
}

input {
    font-size: 1rem;
    height: 1.5rem;
    margin: 0.2rem;
}

button {
    font-size: 1rem;
}
